html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }
#legend {
background: white;
padding: 10px;
}

.color {
border: 1px solid;
height: 12px;
width: 12px;
margin-right: 3px;
float: left;
}

.red {
background: 'FE4D54';
}

.yellow {
background: 'FFFF86';
}

.green {
background: '89FF85';
}

.blue {
background: '89FFFF';
}

.purple {
background: '8681FF';
}